body {
    background-color: lightblue;
  }
  

  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  #title{
    color: white;
    text-align: center;
  }

.home{
  background-color:blue;
  color: white;
}

  .away{
    background-color: yellow;
  }
  .button {
    background-color: #006699;
    color: white;
    cursor: pointer;
    font-family: Courier;
    font-size: 12pt;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
}


.button:hover {
  background-color: white;
  color: #006699;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}